spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/rentbot
    username: rentbot
    password: rentbot

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    locations: classpath:db/migration
